<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" >
<head>
    <title>Partner Dictionary v0.3</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <h2>Display Partner Type</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Partner Type Id:</label>
                        <label class="form-control-static" th:text="${partnerType.partnerTypeId}">Partner Type Id</label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Partner Type Name:</label>
                        <label class="form-control-static" th:text="${partnerType.partnerTypeName}">Partner Type Name</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-default" type="button" onclick="window.location='/partner_type/add';">Add</button>
            <button class="btn btn-default" type="button" onclick="window.location='/partner_type/list';">Cancel</button>
        </div>
    </div>
</div>

</body>
</html>