<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" >
<head>
    <title>Partner Dictionary v0.3</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="jumbotron">
        <div th:if="${not #lists.isEmpty(partnerRestrictions)}">
            <h2>Partner Restriction List</h2>
            <table class="table table-striped">
                <tr>
                    <!--th>Partner Restriction Id</th-->
                    <th>Partner Name</th>
                    <th>Restriction Type Name</th>
                    <th colspan="4">Partner Restriction Value</th>
                </tr>
                <tr th:each="partnerRestriction : ${partnerRestrictions}">
                    <!--td th:text="${partnerRestriction.partnerRestrictionId}"></td-->
                    <td th:text="${partnerRestriction.partner.partnerName}"></td>
                    <td th:text="${partnerRestriction.restrictionType.restrictionTypeName}"></td>
                    <td th:text="${partnerRestriction.partnerRestrictionValue}"></td>
                    <td><a th:href="${'/partner_restriction/display/' + partnerRestriction.partnerRestrictionId}">View</a> </td>
                    <td><a th:href="${'/partner_restriction/edit/' + partnerRestriction.partnerRestrictionId}">Edit</a> </td>
                    <td><a th:href="${'/partner_restriction/remove/' + partnerRestriction.partnerRestrictionId}">Delete</a> </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <button class="btn btn-default" type="button" onclick="window.location='/partner_restriction/add';">Add</button>
            <button class="btn btn-default" type="button" onclick="window.location='/';">Cancel</button>
        </div>
</div>
</div>

</body>
</html>