<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" >
<head>
    <title>Partner Dictionary v0.3</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="jumbotron">
        <div th:if="${not #lists.isEmpty(restrictionTypes)}">
            <h2>Restriction Type List</h2>
            <table class="table table-striped">
                <tr>
                    <!--th>Restriction Id</th-->
                    <th>Restriction Name</th>
                    <th colspan="4">Restriction Type Name</th>
                </tr>
                <tr th:each="restrictionType : ${restrictionTypes}">
                    <!--td th:text="${restrictionType.restrictionTypeId}"></td-->
                    <td th:text="${restrictionType.restriction.restrictionName}"></td>
                    <td th:text="${restrictionType.restrictionTypeName}"></td>
                    <td><a th:href="${'/restriction_type/display/' + restrictionType.restrictionTypeId}">View</a> </td>
                    <td><a th:href="${'/restriction_type/edit/' + restrictionType.restrictionTypeId}">Edit</a> </td>
                    <td><a th:href="${'/restriction_type/remove/' + restrictionType.restrictionTypeId}">Delete</a> </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <form class="form-horizontal" method="POST" action="/restriction_type/upload" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <input class="form-control form-control-sm" type="file" name="file" />
                    </div>
                    <div class="form-group col-lg-1">
                        <input class="btn btn-default" type="submit" value="Upload" />
                    </div>
                </div>
            </form>
            <div class="form-group col-lg-4">
                <button class="btn btn-default" type="button" onclick="window.location='/restriction_type/add';">Add</button>
                <button class="btn btn-default" type="button" onclick="window.location='/';">Cancel</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>