<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" >
<head>
  <title>Partner Dictionary v0.3</title>
</head>
<body>
<div layout:fragment="content" class="container">

  <div class="jumbotron">
    <h1>Partner Dictionary</h1>
    <p>This current version is 0.3, some links are still static and still work in progress.
      Responsive CSS and HTML already included, so it also adapts to your viewport and device.</p>
    <p>
      <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Test Error Page &raquo;</a>
    </p>
  </div>
</div>
</body>
</html>