<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" >
<head>
  <title>Partner Dictionary v0.3</title>
</head>
<body>
<div layout:fragment="content" class="container">

  <div class="jumbotron">
    <p>Partner Dictionary</p>
    <small>This current version is 0.3, some links are still static and still work in progress.
      Responsive CSS and HTML already included, so it also adapts to your viewport and device.</small>
    <form class="form-horizontal" th:action="@{/index/search}" method="get">
      <div class="form-row">
        <div class="form-group col-lg-8">
          <input type="search" class="form-control form-control-lg"
                 name="keyword" placeholder="Search Partner..."
                 th:value="${keyword}" />
        </div>
        <div class="form-group col-lg-4">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
    <div th:if="${not #lists.isEmpty(partners)}">
      <table class="table table-striped">
        <tr>
          <!--th>Partner Id</th-->
          <th>Partner Code</th>
          <th>Partner Name</th>
          <th colspan="2">Partner Type</th>
        </tr>
        <tr th:each="partner : ${partners}">
          <!--td th:text="${partner.partnerId}"></td-->
          <td th:text="${partner.partnerCode}"></td>
          <td th:text="${partner.partnerName}"></td>
          <td th:text="${partner.partnerType.partnerTypeName}"></td>
          <td><a th:href="${'/search/display/' + partner.partnerId}">View Restrictions</a> </td>
        </tr>
      </table>
    </div>
  </div>
</div>
</body>
</html>